.title {
  font-size: 20px;
  color: darkcyan;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.listContainer {
  text-align: center;
  justify-content: center;
}
