.title {
  font-size: 20px;
  color: darkcyan;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

.listContainer {
  text-align: center;
  justify-content: center;
}

.listItem {
  text-transform: capitalize;
  padding-top: 10px;
}

.addGuestContainer {
  text-align: center;
  justify-content: center;
}
